<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CYBERJABKA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="container">
                <li><h2>CYB3RJ4BK4</h2></li>
                <li><h2>|</h2></li>
                <li><a href='http://0.0.0.0:8000/'>Home</a></li>
                <li><a href='http://0.0.0.0:8000/ssh_manager/sign_in'>Ssh manager</a></li>
                <li><a href='http://0.0.0.0:8000/contact'>Contact</a></li>
            </ul>
        </nav>
    </header>

    <section style="text-align: left; font-size: 20px" class="hero">
        <div class="hero-content-area">
            <div class="inner-screen">
                <iframe src="https://giphy.com/embed/cfGmVRsJI6wq6noGxP" width="462" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-dreamlife-daviin-cfGmVRsJI6wq6noGxP"></a></p>

            </div>
        </div>

    </section>

    <footer>
        <p>CYBERJABKA</p>
    </footer>
</body>
</html>