<head>
    <meta charset="UTF-8" />
    <title>JABKA SSH</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul class="container">
                <li><h2 href="">JABKA SSH MANAGER</h2></li>
                <li><h2>|</h2></li>
                <li><a href='http://0.0.0.0:8000/'>Home</a></li>
                <li><a href='http://0.0.0.0:8000/about'>About</a></li>
                <li><a href='http://0.0.0.0:8000/contact'>Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content-area">
            <div class="inner-screen">
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn">SIGN IN</button>
                </form>
            </div>
        </div>
    </section>

    <footer>
		<p>Made by CYBERJABKA</p>
	</footer>
</body>