<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CYBERJABKA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">

</head>
<body>
    <header>
        <nav>
            <ul class="container">
                <li><h2>CYB3RJ4BK4</h2></li>
                <li><h2>|</h2></li>
                <li><a href='http://0.0.0.0:8000/'>Home</a></li>
                <li><a href='http://0.0.0.0:8000/ssh_manager/sign_in'>Ssh manager</a></li>
                <li><a href='http://0.0.0.0:8000/contact'>Contact</a></li>
            </ul>
        </nav>
    </header>

    <section style="text-align: left; font-size: 20px" class="hero">
        <div class="hero-content-area">
            <div class="inner-screen">
                <h1><u>Фисюкович Кирилл Анатольевич</u></h1>
                <p><strong>Опыт работы:</strong> 3 года 4 месяца</p>

                <h2>Январь 2024 — по настоящее время</h2>
                <h3><u>NDA</u></h3>
                <ul>
                    <p><li><strong>Разработка API и админ-панели программ лояльности ресторанов</strong></li>
                    <li style="color: #af1717">django, postgresql, rest, django-admin</li></p>
                    <p><li><strong>Разработка микросервиса чата</strong></li>
                    <li style="color: #af1717">fastapi, websockets, sqlalchemy</li></p>
                </ul>

                <h2>Январь 2021 — по настоящее время</h2>
                <h3><u>ИП Пыхов Александр Александрович</u></h3>
                <ul>
                    <p><li><strong>gRPC-сервис. Разработка proto-файлов. Создание клиентской и серверной части</strong></li>
                    <li style="color: #af1717">Google RPC, MySQL, Kubernetes</li></p>
                    <p><li><strong>Разработка системы отзывов в ресторанах и их анализа</strong></li>
                    <li style="color: #af1717">django, postgresql, rest, django-schema-graph</li></p>
                    <p><li><strong>Telegram-бот для автоматизации бизнес-отчетов в чатах</strong></li>
                    <li><strong>Telegram-бот для управления персональными задачами для повышения эффективности внутри компании</strong></li>
                    <li><strong>Telegram-бот с симуляцией торговых отношений и инвестиций для проведения интерактива в оффлайн бизнес-лагере</strong></li>
                    <li style="color: #af1717">django-admin, pyrogram, pyTelegramBotAPI, python-telegram-bot, SQLite, PostgreSQL. xlsxwriter</li></p>
                    <p><li><strong>Парсер для сбора и анализа данных с сайта ставок (в том числе в условиях активного противодействия</strong></li>
                    <li style="color: #af1717">beautiful-soup, selenium, undetected-selenium, pandas, openpyxl, xlsxwriter</li></p>
                    <p><li><strong>Веб-Приложение для управления квест-комнатой с использованием. Программирование платы ESP-8266 на C++</strong></li>
                    <li style="color: #af1717">Fastapi, C++, sqlite, node-mcu, sqlalchemy</li></p>
                    <p><li><strong>Вендинговый аппарат для измельчения пластиковых бутылок для ЖК. Формирование статистики по каждому из домов жиличного комплекса</strong></li>
                    <li style="color: #af1717">Flask, C++, Arduino, xlsxwriter</li></p>
                    <p><li><strong>Веб-приложения IT-конференции для сканирования QR-кодов (фейс-контроль по коду + регистрация)</strong></li>
                    <li style="color: #af1717">opencv, fastapi, requests</li></p>
                </ul>

                <h2>Июнь 2022 — январь 2024</h2>
                <h3><u>ООО "Лианмедиа", <a href="https://lianmedia.ru/">lianmedia.ru</a></u></h3>
                <ul>
                    <p><li><strong>Проектирование и создание базы персональных данных ClickHouse</strong></li>
                    <li>Регулярная поддержка и модификация схемы базы данных</li>
                    <li>Разработка процессов импорта данных для эффективного наполнения базы</li>
                    <li>Оптимизация процедур экспорта данных для обеспечения удобства использования</li>
                    <li style="color: #af1717">Clichkouse, движок Atomic</li></p>
                    <p><li><strong>Разработка программных продуктов компании на Python c использованием Pandas, SQLAlchemy и Clickhouse-driver</strong></li>
                    <li style="color: #af1717">pandas, xlsxwriter, clickhouse-connect</li></p>
                    <p><li><strong>Разработка deb-пакетов для анализа сети</strong></li>
                    <li style="color: #af1717">aiohttp, jinja, nmap, scapy</li></p>
                </ul>

                <h2>Январь 2021 — декабрь 2021</h2>
                <h3><u>ПАО «Морион»</u></h3>
                <ul>
                    <p><li><strong>Веб-приложение контроля коммутаторов и каналов<strong></li>
                    <p><li><strong>Интеграция с Zabbix и внедрение протоколов для мониторинга и обеспечения надежности системы<strong></li>
                    <li style="color: #af1717">flask, sqlalchemy, multiprocessing, zabbix</li></p>
                    <p><li><strong>Сервис обработки 3D, 2D изображений и видео для последующего отображения в дополненной реальности</li>
                    <li style="color: #af1717">ffmpeg, celery, aiohttp, redis</li></p>
                </ul>

                <h2>Ключевые навыки</h2>
                <ul style="font-size: 30px;">
                    <li style="color: #af1717">python • django • postgresql</li>
                    <li style="color: #9f1515">celery • rabbitmq • redis</li>
                    <li style="color: #931414">docker • zabbix • kubernetes</li>
                    <li style="color: #801111">clickhouse • flask • fastapi</li>
                    <li style="color: #730f0f">pandas • sqlalchemy • ffmpeg</li>
                    <li style="color: #620d0d">golang • c++ • c#</li>
                </ul>

                <h2>Обо мне</h2>
                <p>Опытный backend-разработчик. За время работы в прод было выведено множество проектов, которые развернуты и работают у заказчика</p>
                <p>Работал с языками программивания и фреймворками состредоточенными на веб-разработку</p>
                <p>Занимался поддержкой проектов. В частности по требованию заказчика переписывал проекты, написанные на C#, Rust, PHP и Go, на Python</p>
                <p>Участвовал в проектах по созданию телеграмм ботов, парсеров на основе Requests и Selenium</p>

                <h2>Высшее образование</h2>
                <p>2023, Полесский государственный университет, Инженер-программист-экономист</p>
            </div>
        </div>

    </section>
    <div style="text-align: center;">
        <a href='http://0.0.0.0:8000/contact' class="contact-button">Связаться</a>
    </div>
    <footer>
        <p>CYBERJABKA</p>
    </footer>
</body>
</html>