@font-face {
    font-family: bebasneue-regular;
	src: url('../fonts/BebasNeue-Regular.ttf');
}

body {
    background-color: #edeff1;
	margin: 0;
	padding: 0;
    font-family: bebasneue-regular;
}
.hero{
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: white;
    margin-top: 200px;
}

.container {
	margin: auto;
}

h2 {
    display: inline-block;
  	font-size: 36px;
  	position: relative;
    top: 4px;
}

nav {
	background: #0073b1;
	font-size: 0;
	position: relative;

}

nav > ul > li {
	display: inline-block;
  	font-size: 28px;
  	padding: 0 15px;
  	position: relative;
}

nav > ul > li > a {
	color: #fff;
  	display: block;
  	padding: 20px 0;
  	border-bottom: 3px solid transparent;
    transition: all .3s ease;
}
nav > ul > li:hover > a {
	color: #444;
  	border-bottom: 3px solid #444;
}

.form{
  width: 400px;
  height: 230px;
  background: #175798;
  margin: 0px auto;
  padding-top: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

input{
    display: block;
    font-family: bebasneue-regular;
    width: 340px;
    height: 48px;
    color: #000000;
    margin: 15px auto;
    background: #fff;
    padding: 5px;
    font-size: 20px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input:focus{
    border: 2px solid #0073b1
}

.btn[type="submit"]{
    display: block;
    background: #0073b1;
    width: 340px;
    padding: 12px;
    cursor: pointer;
    color: #000000;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 28px;
    transition: all 0.3s ease;
    font-family: bebasneue-regular;
}

.btn:hover{
    background: #1ba7fa
}

a{
    text-align: center;
    color: gray;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 28px;
}

a:hover{
    color: #0073b1;
}

label{
    color: #000000;
    font-size: 28px;
}


footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
    flex: 0 0 auto;
}
